*{
    margin: 0px;
    padding: 0px;
}
.block_1_anim_p_1,.block_1_anim_p_2,.block_1_anim_p_3,.block_1_anim_p_4,
.videos_block_2_1_2_cont_1_p_1{
    opacity: 0;
    transition: 1s;
}

.videos_block_2_1_line{
    width: 0%;
    transition: 1s;
}
.videos_block_2_1_num_1_active,.videos_block_2_1_num_2_active{
    width: 100%;
}

.block_1_anim_p_1_active,.block_1_anim_p_2_active,.block_1_anim_p_3_active,.videos_block_2_1_2_cont_1_p_1_active,
.block_1_anim_p_4_active{
    opacity: 1;
}

.block_2_anim_p_1,.block_2_anim_p_2,.block_2_anim_p_3,.block_2_anim_image_1{
    opacity: 0;
    transition: 1s;
}
.block_2_anim_image_1{
    transform: translateX(-100px);
}
.block_2_anim_p_1_active,.block_2_anim_p_2_active,.block_2_anim_p_3_active,.block_2_anim_image_1_active{
    opacity: 1;
}
.block_2_anim_image_1_active{
    transform: translateX(0px);
}


.block_3_anim_p_1{
    transform: translateY(200px);
    opacity: 0;
    transition: 3s;
}
.block_3_anim_p_1_active{
    transform: translateY(0px);
    opacity: 1;
}
.block_3_anim_p_2{
    opacity: 0;
    transition: 1s;
}
.block_3_anim_p_2_active{
    opacity: 1;
}

.stages_num_anim{
    opacity: 0;
    transition: 1s;
}
.stages_num_anim_active{
    opacity: 1;
}
.stages_span_anim{
    opacity: 0;
    transition: 1s;
}
.stages_span_anim_active{
    opacity: 1;
}

.stages_12_anim{
    opacity: 0;
    transition: 1s;
}
.stages_12_anim_active{
    opacity: 1;
}


.scene_line_anim{
    width: 0%;
    opacity: 0;
    transition: 1s;
}
.scene_line_anim_active{
    width: 50%;
    opacity: 1;
}
.block_5_anim_p_1,.block_5_anim_p_2{
    opacity: 0;
    transition: 1s;
    
}
.block_5_anim_p_1_active,.block_5_anim_p_2_active{
    opacity: 1;
}
.block_5_anim_p_3,.block_5_anim_p_4{
    transform: translateY(100px);
    opacity: 0;
    transition: 1s;
}
.block_5_anim_p_3_active,.block_5_anim_p_4_active{
    transform: translateY(0px);
    opacity: 1;
}
.block_5_anim_p_5{
    opacity: 0;
    transition: 3s;
}
.block_5_anim_p_5_active{
    opacity: 1;
}

.block_6_img{
    transform: scale(0.50);
    transition: 2s;
}
.block_6_img_active{
    transform: scale(1);
}

.block_6_p_1{
    opacity: 0;
    transition: 1s;
}
.block_6_p_1_active{
    opacity: 1;
}
.work_block_p_1_anim{
    transform: translateY(100px);
    opacity: 0;
    transition: 1s;
}
.work_block_p_1_anim_active{
    transform: translateY(0px);
    opacity: 1;
}
.work_block_p_2_anim{
    opacity: 0;
    transition: 1s;
}
.work_block_p_2_anim_active{
    opacity: 1;
}
.work_block_div_1_anim{
    width: 0px;
    opacity: 0;
    transition: 2s;
}
.work_block_div_1_anim_active{
    opacity: 1;
    width: 100%;
}
.portfolio_image_1_anim{
    opacity: 0;
    transition: 2s;
    transform: scale(0.50);
}
.portfolio_image_1_anim_active{
    opacity: 1;
    transform: scale(1);
}
.portfolio_p_1_anim,.portfolio_p_3_anim,.portfolio_p_4_anim,.portfolio_p_5_anim{
    opacity: 0;
    transition: 1s;
}
.portfolio_p_1_anim_active,.portfolio_p_3_anim_active,.portfolio_p_4_anim_active,.portfolio_p_5_anim_active{
    opacity: 1;
}
.portfolio_p_2_anim{
    opacity: 0;
    transform: translateX(50px);
    transition: 1s;
}
.portfolio_p_2_anim_active{
    opacity: 1;
    transform: translateX(0px);
}

.about_us_block_2_p_1_anim{
    opacity: 0;
    transition: 2s;
    transform: translateY(100px);
}
.about_us_block_2_p_1_anim_active{
    transform: translateY(0px);
    opacity: 1;
}

.about_us_block_2_p_2_anim{
    opacity: 0;
    transition: 1s;
}
.about_us_block_2_p_2_anim_active{
    opacity: 1;
}

.about_us_public_anim{
    opacity: 0;
    transition: 1s;
    transform: translateY(50px);
}
.about_us_public_anim_active{
    opacity: 1;
    transform: translateY(0px);
}

.about_us_image1_anim{
    transform: scale(0.90);
    transition: 2s;
    opacity: 0;
}
.about_us_image1_anim_active{
    transform: scale(1);
    opacity: 1;
}

.contact_elem_anim{
    opacity: 0;
    transition: 1s;
}
.contact_elem_anim_active{
    opacity: 1;
}